<section class="hero">
  <h1>D.E.</h1>
  <p class="desc">Curated list of Design Engineers.</p>
  <p class="curator">
    Created by <a href="https://x.com/remvze">Maze Heart</a>.
  </p>
  <div class="source">
    <a href="https://github.com/remvze/de" rel="noreferrer" target="_blank">
      Source Code</a
    >
  </div>
</section>

<style>
  .hero {
    padding: 120px 0 60px;

    & h1 {
      margin-bottom: 12px;
      font-weight: 500;
      color: var(--color-foreground);
    }

    & p {
      font-size: var(--font-sm);
      color: var(--color-foreground-subtle);

      &:not(:last-of-type) {
        margin-bottom: 8px;
      }

      & a {
        color: var(--color-foreground);
        text-decoration: underline;
        text-decoration-style: dotted;
        text-underline-offset: 4px;
      }
    }

    & .source {
      margin-top: 24px;

      & a {
        font-size: var(--font-xsm);
        color: var(--color-foreground-subtler);
        text-decoration: underline;
        text-decoration-style: dotted;
        text-underline-offset: 4px;
        transition: 0.2s;

        &:hover {
          color: var(--color-foreground-subtle);

          &::after {
            opacity: 1;
            transform: translateX(0) scaleX(1);
          }
        }

        &:active {
          &::after {
            margin-left: 6px;
          }
        }

        &::after {
          display: inline-flex;
          margin-left: 4px;
          color: var(--color-foreground);
          text-decoration: none;
          content: '→';
          opacity: 0;
          transition: 0.2s;
          transform: translateX(-2px) scaleX(0.5);
          transform-origin: left center;
        }
      }
    }
  }
</style>
